*{
    color: black;
  }

.manDiv {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 500px; /* Increase the width */
    height: 250px; /* Set a height */
    background-color: white;
    border: 2px solid #d3d3d3;
    padding: 20px; /* Increase padding for content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-radius: 3%;
    font-size: 14px; /* Decrease font size */
}

.configurationHeading {
    margin-block: 0 1.5rem;
    border-bottom: 2px solid black;
    width: calc(100% - 3rem); /* Adjust width */
    text-align: left;
    position: relative; /* Change position to relative */
}

.configurationHeading:after {
    content: "";
    display: block;
    width: 110%;
    height: 2px; /* Line height */
    background-color: black;
    position: absolute;
    bottom: -2px; /* Position at the bottom */
    left: 0;
}

.manDiv ul {
    overflow-y: auto; /* Add vertical scrollbar */
    max-height: calc(100% - 50px); /* Limit height for scroll */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.manDiv ul li {
    list-style-type: none; /* Remove default list style */
}
