

.mainDiv {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 4px;
  position: relative;
}

.configurationHeading {
  padding-block: 1rem 0.5rem;
  margin-block: 0 1rem;
  border-bottom: 2px solid black;
  width: 100%;
  text-align: left;
  position: absolute;
}

.inputFields {
  margin-block: 3rem 1rem;
  width: 100%;
}
