.dropDownSelectDiv {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.dropDownSelect {
  background-color: #c5c5c5;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  width: 100%;
  color: #625b5b;
  font-weight: 600;
  transition: 0.1s ease-out;
  outline: none;
  border-bottom: 1px solid var(--hacktextDark);
  border-radius: 5px;
}

.dropDownSelect:-webkit-autofill,
.dropDownSelect:-webkit-autofill:hover,
.dropDownSelect:-webkit-autofill:focus,
.dropDownSelect:-webkit-autofill:active {
  -webkit-text-fill-color: var(--hacktextDark) !important;
}

.dropDownSelect:focus {
  outline: none;
  border-bottom: 1px solid var(--hackhighlight);
}

.dropDownSelect::placeholder {
  font-weight: 600;
}

.label {
  font-size: 1rem;
  background-color: transparent;
  color: #000;
  font-weight: 500;
  transition: 0.1s ease-out;
  pointer-events: none;
  padding-block: 0.5rem;
  width: 100%;
  text-align: left;
}

.dropDownSelect:focus + .label {
  top: 0;
  transform: translateY(-30%) scale(0.85);
}

.dropDownSelect:not(:placeholder-shown) + .label {
  top: 0;
  transform: translateY(-30%) scale(0.85);
}

.dropDownOption {
  background-color: var(--hacktextLight);
  color: var(--hacktextDark);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  width: max(25dvw, 16rem);
  transition: 0.1s ease-out;
  outline: none;
  border: 1px solid blue;
}
